
.Unit a{
 /* margin-top: 30px; */
    display: block;
    padding: 15px 80px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.2s ;
}
.Unit a:hover{

    text-decoration: underline;
   
   }
   .Unit{
       background-color: rgb(226, 214, 199);
       color: #fff;
       text-decoration: none;
       padding: 10px;
       border-radius: 5px;
   }
   
   .Unit.selected {
       background-color: #45a049;
       font-weight: bold;
   }