<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tracnghiem.css">
    <title>Trắc nghiệm</title>
</head>
<body>
    <h1 id="dd" style="text-align: center; display: none;" >Đáp án</h1>
    <div id="bang"></div>
    <div  id="container" class="container">
        <h1 style="text-align: center;" >Bài tập trắc nghiệm</h1>
        <div id="time" style="text-align: center;"></div>
        <div class="question">
            <p>1. Every computer looking to access the Internet would be known as this</p>
            <div class="options">
                <label>
                    <input type="radio" name="q1" value="A"> A. Server
                </label>
                <label>
                    <input type="radio" name="q1" value="B"> B. Desktop
                </label>
                <label>
                    <input type="radio" name="q1" value="C"> C. Hub
                </label>
                <label>
                    <input type="radio" name="q1" value="D"> D. Client
                </label>
            </div>
        </div>

        <div class="question">
            <p>2. Collection of 1024</p>
            <div class="options">
                <label>
                    <input type="radio" name="q2" value="A"> A. 1MB
                </label>
                <label>
                    <input type="radio" name="q2" value="B"> B. 1KB
                </label>
                <label>
                    <input type="radio" name="q2" value="C"> C. 1TB
                </label>
                <label>
                    <input type="radio" name="q2" value="D"> D. 1G
                </label>
            </div>
        </div>

        <div class="question">
            <p>3. ________is a collection of devices connected together in one physical localtion, sush as a building, office, or home</p>
            <div class="options">
                <label>
                    <input type="radio" name="q3" value="A"> A. WAN
                </label>
                <label>
                    <input type="radio" name="q3" value="B"> B. LAN
                </label>
                <label>
                    <input type="radio" name="q3" value="C"> C. MAN
                </label>
                <label>
                    <input type="radio" name="q3" value="D"> D. All off the above
                </label>
            </div>
        </div>

        <div class="question">
            <p>4. What is the used for education sites (most commonly four year universities)?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q4" value="A"> A. .org
                </label>
                <label>
                    <input type="radio" name="q4" value="B"> B. .com
                </label>
                <label>
                    <input type="radio" name="q4" value="C"> C. .edu
                </label>
                <label>
                    <input type="radio" name="q4" value="D"> D. .net
                </label>
            </div>
        </div>
         
        <div class="question">
            <p>5. What types of informaton gets lost if it isn't saved?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q5" value="A"> A. flash drive
                </label>
                <label>
                    <input type="radio" name="q5" value="B"> B. storage memory
                </label>
                <label>
                    <input type="radio" name="q5" value="C"> C. CD ROM
                </label>
                <label>
                    <input type="radio" name="q5" value="D"> D. RAM
                </label>
            </div>
        </div>

        <div class="question">
            <p>6. What is hardware?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q6" value="A"> A. any part of your computer that has a phycical structure
                </label>
                <label>
                    <input type="radio" name="q6" value="B"> B. all the ports and buttons of the computer
                </label>
                <label>
                    <input type="radio" name="q6" value="C"> C. any part of your desktop that has all the icons
                </label>
                <label>
                    <input type="radio" name="q6" value="D"> D. software
                </label>
            </div>
        </div>

        <div class="question">
            <p>7. An example of an e-mail address is</p>
            <div class="options">
                <label>
                    <input type="radio" name="q7" value="A"> A. Johndoe@cincinatilibrary.org
                </label>
                <label>
                    <input type="radio" name="q7" value="B"> B. Jeandoe.gmail.com
                </label>
                <label>
                    <input type="radio" name="q7" value="C"> C. Bob
                </label>
                <label>
                    <input type="radio" name="q7" value="D"> D. Www.facebook.com
                </label>
            </div>
        </div>


        <div class="question">
            <p>8. Which key on the keyboard is used to capitallize letters?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q8" value="A"> A. Windows
                </label>
                <label>
                    <input type="radio" name="q8" value="B"> B. Ctrl
                </label>
                <label>
                    <input type="radio" name="q8" value="C"> C. Shift
                </label>
                <label>
                    <input type="radio" name="q8" value="D"> D. Tab
                </label>
            </div>
        </div>

        <div class="question">
            <p>9.Every laptop has a________, which allows you to use the Laptop when it is not plugged in</p>
            <div class="options">
                <label>
                    <input type="radio" name="q9" value="A"> A. Cable
                </label>
                <label>
                    <input type="radio" name="q9" value="B"> B. USB
                </label>
                <label>
                    <input type="radio" name="q9" value="C"> C. battery
                </label>
                <label>
                    <input type="radio" name="q9" value="D"> D. computer
                </label>
            </div>
        </div>


        <div class="question">
            <p>10. Mozilla Firefox is a</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. Website
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. Server
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. client
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. web browser
                </label>
            </div>
        </div>
           
        <div class="question">
            <p>11. Which of the following is a storage device?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q1" value="A"> A. Hard Disk
                </label>
                <label>
                    <input type="radio" name="q1" value="B"> B. Mouse
                </label>
                <label>
                    <input type="radio" name="q1" value="C"> C. Keyboard
                </label>
                <label>
                    <input type="radio" name="q1" value="D"> D. All of the above
                </label>
            </div>
        </div>

        <div class="question">
            <p>12. A Bit Stands for</p>
            <div class="options">
                <label>
                    <input type="radio" name="q2" value="A"> A. Binary Data
                </label>
                <label>
                    <input type="radio" name="q2" value="B"> B. Binary Deci
                </label>
                <label>
                    <input type="radio" name="q2" value="C"> C. Binary Digit
                </label>
                <label>
                    <input type="radio" name="q2" value="D"> D. None of the above
                </label>
            </div>
        </div>

        <div class="question">
            <p>13. A Devices that are connected to computers, such as printers, scanners, and modems, are called</p>
            <div class="options">
                <label>
                    <input type="radio" name="q3" value="A"> A. Peripheral
                </label>
                <label>
                    <input type="radio" name="q3" value="B"> B. Formats
                </label>
                <label>
                    <input type="radio" name="q3" value="C"> C. Application
                </label>
                <label>
                    <input type="radio" name="q3" value="D"> D. Apps
                </label>
            </div>
        </div>

        <div class="question">
            <p>14. What do we call a specific computer record containing data or a small program ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q4" value="A"> A. file
                </label>
                <label>
                    <input type="radio" name="q4" value="B"> B. logo
                </label>
                <label>
                    <input type="radio" name="q4" value="C"> C. format
                </label>
                <label>
                    <input type="radio" name="q4" value="D"> D. An icon
                </label>
            </div>
        </div>
         
        <div class="question">
            <p>15. __________is used to communicate from one city to another</p>
            <div class="options">
                <label>
                    <input type="radio" name="q5" value="A"> A. WAN
                </label>
                <label>
                    <input type="radio" name="q5" value="B"> B. LAN
                </label>
                <label>
                    <input type="radio" name="q5" value="C"> C. MAN
                </label>
                <label>
                    <input type="radio" name="q5" value="D"> D. All of the above
                </label>
            </div>
        </div>

        <div class="question">
            <p>16. What do we call a program for exploring the Web and viewing websites</p>
            <div class="options">
                <label>
                    <input type="radio" name="q6" value="A"> A. a driver
                </label>
                <label>
                    <input type="radio" name="q6" value="B"> B. a printer
                </label>
                <label>
                    <input type="radio" name="q6" value="C"> C. a browser
                </label>
                <label>
                    <input type="radio" name="q6" value="D"> D. a scanner
                </label>
            </div>
        </div>

        <div class="question">
            <p>17. ".gif" is an extension of</p>
            <div class="options">
                <label>
                    <input type="radio" name="q7" value="A"> A. Image file
                </label>
                <label>
                    <input type="radio" name="q7" value="B"> B. Video file
                </label>
                <label>
                    <input type="radio" name="q7" value="C"> C. Audio file
                </label>
                <label>
                    <input type="radio" name="q7" value="D"> D. Word file
                </label>
            </div>
        </div>


        <div class="question">
            <p>18. RAM, ROM and cache are different types of_______that computers can use</p>
            <div class="options">
                <label>
                    <input type="radio" name="q8" value="A"> A. Wi-Fi
                </label>
                <label>
                    <input type="radio" name="q8" value="B"> B. file
                </label>
                <label>
                    <input type="radio" name="q8" value="C"> C. memory
                </label>
                <label>
                    <input type="radio" name="q8" value="D"> D. no answer
                </label>
            </div>
        </div>

        <div class="question">
            <p>19. Which of the following is presentation program?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q9" value="A"> A. MS-Word
                </label>
                <label>
                    <input type="radio" name="q9" value="B"> B. MS-Exel
                </label>
                <label>
                    <input type="radio" name="q9" value="C"> C. MS-Power Point
                </label>
                <label>
                    <input type="radio" name="q9" value="D"> D. MS-Access
                </label>
            </div>
        </div>


        <div class="question">
            <p>Câu 20: What do people go to public hotspots for?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. Internet access
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. Software bugs
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. Free viruses
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. Play game
                </label>
            </div>
        </div>

        <div class="question">
            <p>Câu 21: A computer's_______is called its heart or "brain" because it is where data is processed ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. ROM
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. USB
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. CPU
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. RAM
                </label>
            </div>
        </div>

        <div class="question">
            <p>Câu 22: What do we call the part of a computer that stores programs and information ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. The hotspots 
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. The hard disk
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. The notebook
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. The soft disk
                </label>
            </div>
        </div>

        <div class="question">
            <p>Câu 23: Which allows wireless data communication ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. a USB flash drive
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. a Bluetooth connection 
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. a anti-virus add
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. all answer 
                </label>
            </div>
        </div>

        <div class="question">
            <p>Câu 24: ________is a connection of devices connected together in one phycical localtion, such as a building, office, or home ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. WAN
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. LAN
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. MAN
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. All of the above
                </label>
            </div>
        </div>

        <div class="question">
            <p>Câu 25: Which of the following is a presentation program ?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q10" value="A"> A. MS-Word
                </label>
                <label>
                    <input type="radio" name="q10" value="B"> B. MS-Excel
                </label>
                <label>
                    <input type="radio" name="q10" value="C"> C. MS-Powerpoint
                </label>
                <label>
                    <input type="radio" name="q10" value="D"> D. MS-Access
                </label>
            </div>
        </div>
        <div class="question">
            <p>Câu 26: What is the purpose of a cache in computing?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q26" value="A"> A. Store temporary data
                </label>
                <label>
                    <input type="radio" name="q26" value="B"> B. Execute program instructions
                </label>
                <label>
                    <input type="radio" name="q26" value="C"> C. Manage network traffic
                </label>
                <label>
                    <input type="radio" name="q26" value="D"> D. Encrypt data
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 27: What is the role of an IP address in networking?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q27" value="A"> A. Identify a device on the network
                </label>
                <label>
                    <input type="radio" name="q27" value="B"> B. Determine internet speed
                </label>
                <label>
                    <input type="radio" name="q27" value="C"> C. Encrypt data transmission
                </label>
                <label>
                    <input type="radio" name="q27" value="D"> D. Manage hardware resources
                </label>
            </div>
        </div>
        <div class="question">
            <p>Câu 28: What is the purpose of a VPN (Virtual Private Network)?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q28" value="A"> A. Enhance internet speed
                </label>
                <label>
                    <input type="radio" name="q28" value="B"> B. Secure communication over a public network
                </label>
                <label>
                    <input type="radio" name="q28" value="C"> C. Manage computer hardware
                </label>
                <label>
                    <input type="radio" name="q28" value="D"> D. Develop virtual environments
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 29: What is the purpose of a version control system in software development?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q29" value="A"> A. Manage project timelines
                </label>
                <label>
                    <input type="radio" name="q29" value="B"> B. Track changes in source code
                </label>
                <label>
                    <input type="radio" name="q29" value="C"> C. Monitor network traffic
                </label>
                <label>
                    <input type="radio" name="q29" value="D"> D. Encrypt data transmission
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 30: What does the acronym HTML stand for?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q30" value="A"> A. HyperText Markup Language
                </label>
                <label>
                    <input type="radio" name="q30" value="B"> B. High-Level Text Management Language
                </label>
                <label>
                    <input type="radio" name="q30" value="C"> C. Hyperlink and Text Manipulation Language
                </label>
                <label>
                    <input type="radio" name="q30" value="D"> D. Human Task Management Logic
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 31: What is the purpose of the SQL language?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q31" value="A"> A. Manage graphic design elements
                </label>
                <label>
                    <input type="radio" name="q31" value="B"> B. Query and manipulate databases
                </label>
                <label>
                    <input type="radio" name="q31" value="C"> C. Control computer peripherals
                </label>
                <label>
                    <input type="radio" name="q31" value="D"> D. Develop mobile applications
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 32: What is the purpose of the CSS language in web development?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q32" value="A"> A. Define the structure of a webpage
                </label>
                <label>
                    <input type="radio" name="q32" value="B"> B. Control the layout and style of a webpage
                </label>
                <label>
                    <input type="radio" name="q32" value="C"> C. Manage server-side scripting
                </label>
                <label>
                    <input type="radio" name="q32" value="D"> D. Execute database queries
                </label>
            </div>
        </div>
        <div class="question">
            <p>Câu 33: What is the purpose of a compiler in programming?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q33" value="A"> A. Execute program instructions
                </label>
                <label>
                    <input type="radio" name="q33" value="B"> B. Convert source code to machine code
                </label>
                <label>
                    <input type="radio" name="q33" value="C"> C. Manage network protocols
                </label>
                <label>
                    <input type="radio" name="q33" value="D"> D. Control hardware resources
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 34: What is the purpose of the HTTPS protocol in web communication?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q34" value="A"> A. Handle email communication
                </label>
                <label>
                    <input type="radio" name="q34" value="B"> B. Encrypt data transmission over the internet
                </label>
                <label>
                    <input type="radio" name="q34" value="C"> C. Manage website content
                </label>
                <label>
                    <input type="radio" name="q34" value="D"> D. Execute client-side scripts
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 35: What is the purpose of a DNS server in networking?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q35" value="A"> A. Convert domain names to IP addresses
                </label>
                <label>
                    <input type="radio" name="q35" value="B"> B. Control internet speed
                </label>
                <label>
                    <input type="radio" name="q35" value="C"> C. Manage database queries
                </label>
                <label>
                    <input type="radio" name="q35" value="D"> D. Encrypt website content
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 36: What is the purpose of the "if" statement in programming?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q36" value="A"> A. Define a function
                </label>
                <label>
                    <input type="radio" name="q36" value="B"> B. Implement a loop
                </label>
                <label>
                    <input type="radio" name="q36" value="C"> C. Make conditional decisions
                </label>
                <label>
                    <input type="radio" name="q36" value="D"> D. Manage database connections
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 37: What is the purpose of a data structure in programming?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q37" value="A"> A. Organize and store data
                </label>
                <label>
                    <input type="radio" name="q37" value="B"> B. Design user interfaces
                </label>
                <label>
                    <input type="radio" name="q37" value="C"> C. Execute system commands
                </label>
                <label>
                    <input type="radio" name="q37" value="D"> D. Manage network security
                </label>
            </div>
        </div>
        <div class="question">
            <p>Câu 38: What is the purpose of an API (Application Programming Interface) in software development?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q38" value="A"> A. Manage user interfaces
                </label>
                <label>
                    <input type="radio" name="q38" value="B"> B. Facilitate communication between software components
                </label>
                <label>
                    <input type="radio" name="q38" value="C"> C. Encrypt data transmission
                </label>
                <label>
                    <input type="radio" name="q38" value="D"> D. Control hardware resources
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 39: What is the purpose of a cookie in web development?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q39" value="A"> A. Store user preferences locally
                </label>
                <label>
                    <input type="radio" name="q39" value="B"> B. Manage server-side scripting
                </label>
                <label>
                    <input type="radio" name="q39" value="C"> C. Execute database queries
                </label>
                <label>
                    <input type="radio" name="q39" value="D"> D. Encrypt website content
                </label>
            </div>
        </div>
        
        <div class="question">
            <p>Câu 40: What is the purpose of a router in a computer network?</p>
            <div class="options">
                <label>
                    <input type="radio" name="q40" value="A"> A. Connect devices within a local network
                </label>
                <label>
                    <input type="radio" name="q40" value="B"> B. Encrypt data transmission
                </label>
                <label>
                    <input type="radio" name="q40" value="C"> C. Manage database connections
                </label>
                <label>
                    <input type="radio" name="q40" value="D"> D. Execute system commands
                </label>
            </div>
        </div>
        <button style="height: 50px;" id="checkBtn">Xem kết quả</button>
    </div>

  

    <div id="result" style="display: none;">
        <h1 style="text-align: center; background-color: rgb(226, 214, 199);
        text-align: center;
        padding: 20px;">Kết quả</h1>
     
           
        <p id="score"></p>
        <button id="xemdapan">Xem đáp án</button>
       
       
    
</div>

     <script>
const checkBtn = document.getElementById('checkBtn');
const resultDiv = document.getElementById('result');
const scoreSpan = document.getElementById('score');
const khung = document.getElementById('container');
const xem =document.getElementById('xemdapan');
const dapan =document.getElementById('dapan');



checkBtn.addEventListener('click', () => {
    // const userAnswers = Array.from(document.querySelectorAll('input[type="radio"]:checked')).map(input => input.value);
  
    const answers = [];
    const questionDivs = document.querySelectorAll('.options');
    
    questionDivs.forEach((questionDiv, index) => {
        const selectedAnswer = document.querySelector(`input[name="q${index + 1}"]:checked`);
        if (selectedAnswer) {
            answers.push(selectedAnswer.value);
        }
        else
        {
            answers.push("");
        }
    });

    // Gửi yêu cầu kiểm tra đáp án đến máy chủ Node.js
    fetch('/check', {
    method: 'POST',
    body: JSON.stringify({answers}),
    headers: {
        'Content-Type': 'application/json'
    }
    
})
    .then(response => response.json())
    .then(data => {
  
        resultDiv.style.display = 'block';
        khung.style.display='none';
        const totalQuestions = 40; 
        const correctCount = data.correctCount; 
        scoreSpan.innerHTML = `Số câu đúng: ${correctCount} / ${totalQuestions}`;
        scoreSpan.style.color = correctAnswers === totalQuestions ? 'green' : 'red';
    })
    .catch(error => {
        console.error('Lỗi khi kiểm tra đáp án:', error);
    });
   
});
    
xem.addEventListener('click', () => {
    // dapan.style.display = 'block';
         resultDiv.style.display = 'none';
        khung.style.display='block';
        document.getElementById("dd").style.display ="block";
        const answers = [];

    // Fetch correct answers from the server
    fetch('/getAnswers')
        .then(response => response.json())
        .then(data => {
            // Extract correct answers and store them in the 'answers' array
            data.forEach(item => {
                const correctAnswerValue = item.CorrectAnswer.trim();
                answers.push(correctAnswerValue);
            });

            const tableContainer = document.getElementById('bang');

        // Tìm độ dài của mảng
        const answersLength = answers.length;

        // Tạo đối tượng bảng thứ nhất (từ câu 1 đến 20)
        const table1 = createTable(1, 20, answers.slice(0, Math.ceil(answersLength / 2)));
        tableContainer.appendChild(table1);

        // Tạo đối tượng bảng thứ hai (từ câu 21 đến 40)
        const table2 = createTable(21, 40, answers.slice(Math.ceil(answersLength / 2)));
        tableContainer.appendChild(table2);

        function createTable(start, end, answers) {
            // Tạo đối tượng bảng
            const table = document.createElement('table');
            table.style.border = '1px solid black'; // Thêm viền đen cho bảng
            table.style.width = '100%'; // Canh giữa bảng

            // Tạo hàng tiêu đề
            const headerRow = table.createTHead().insertRow(0);

            // Duyệt qua số lượng câu hỏi và thêm cột cho câu hỏi
            for (let i = start; i <= end; i++) {
                const cell = headerRow.insertCell(i - start);
                cell.textContent = `Câu ${i}`;
                cell.style.border = '1px solid black'; // Thêm viền cho ô
                cell.style.textAlign = 'center'; // Canh giữa nội dung trong ô
                cell.style.padding = '8px'; // Khoảng cách giữa nội dung và viền
            }

            // Tạo hàng dữ liệu với câu trả lời
            const dataRow = table.insertRow(1);

            // Duyệt qua số lượng câu trả lời và thêm vào cột tương ứng
            for (let i = 0; i < answers.length; i++) {
                const cell = dataRow.insertCell(i);
                cell.textContent = answers[i];
                cell.style.border = '1px solid black'; // Thêm viền cho ô
                cell.style.textAlign = 'center'; // Canh giữa nội dung trong ô
                cell.style.padding = '8px'; // Khoảng cách giữa nội dung và viền
            }

            return table;
          
        }

        })
        .catch(error => console.error('Error fetching answers:', error));
});



    </script>

    
</body>
</html>