<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/TrangLeBT.css">
    <title>Trang bài học</title>
</head>
<body>
      

    <div id="StudySession" >
        <div class="Unit">
        <a href="#" onclick="nghe()">LISTENING </a>
        </div>

        <div class="Unit">
            <a href="#" onclick="tracnghiem()"> TEST </a>
        </div>

        <div class="Unit">
            <a href="#" onclick="viet()"> WRITE AND READ</a>
        </div>
    
    </div>


    </div>
</body>
</html>