<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/TrangLe.css">
    <title>Trang bài học</title>
</head>
<body>
      

    <div id="StudySession" >
        <div class="Unit">
        <a href="#"  onclick="unit1()" > UNIT 1: COMPUTER USERS </a>
        </div>

        <div class="Unit">
            <a href="#"  onclick="unit2()"> UNIT 2: NETWORKS </a>
        </div>

        <div class="Unit">
            <a  onclick="unit3()" href="#"> UNIT 3: THE INTERNET</a>
        </div>

        <div class="Unit">
            <a  onclick="unit4()" href="#"> UNIT 4: WEBSITES</a>
        </div>
    
    </div>




    </div>
</body>
</html>