<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Unit3.css">
    <title>Unit 3</title>
</head>
<body>
    <h1>UNIT 3: THE INTERNET </h1>
    <hr>
        <div id="trangbaihoc" >
            <div class="tuvung">
                <p>
                    - <strong>email (electronic mail)</strong>: thư điện tử <br>
                    - <strong>usenet (user network)</strong>: mạng Usenet<br>
                    - <strong>IRC (Internet Relay Chat)</strong>: Trò chuyện qua Internet<br>
                    - <strong>FTP (File Transfer Protocol)</strong>: Giao thức truyền tệp<br>
                    - <strong>Telnet (Telephone Network)</strong>: Mạng điện thoại <br>
                    - <strong>MOOs </strong>: Môi trường đa người dùng có tính hướng đối tượng<br>
                    - <strong>WWW </strong>: Mạng lưới toàn cầu <br>
                    - <strong>CMC (Computer Mediated Communication)</strong>: Truyền thông thông qua máy tính<br>
                    - <strong>ISP (Internet Service Provider)</strong>: Nhà cung cấp dịch vụ Internet<br>
                </p>
                <p>
                    - <strong>route</strong>: đường truyền<br>
                    - <strong>path</strong>: đường dẫn<br>
                    - <strong>ISDN (Integrated Services Digital Network)</strong>: Mạng kỹ thuật số dịch vụ tích hợp<br>
                    - <strong>adapter</strong>: bộ chuyển đổi<br>
                    - <strong>DSL (Digital Subscriber Line)</strong>: Đường truyền kỹ thuật số cho người đăng ký<br>
                    - <strong>NIC (Network Interface Card)</strong>: Thẻ giao tiếp mạng<br>
                    - <strong>twisted-pair cabling</strong>: Cáp xoắn đôi<br>
                    - <strong>asynchronous</strong>: Không đồng bộ<br>
                    - <strong>synchronous</strong>: Đồng bộ<br>
                </p>
            </div>
            
        </div>
        <h3  style="padding-top: 40px; text-align: center;">Cảnh báo! </h3>
                <hr>
                <div>
                <table border="1" cellspacing="0" cellpadding="9">
                <tr>
                <th width="50%">
                <p>Bạn có thể thấy các cảnh báo này ở nhiều nơi khác nhau như sau:</p>
            <ol>
                <li>	Never give out your home address or phone number.</li>
                <li>	This appliance must be earthed.</li>
                <li>	Avoid turning off main power while computer is running.</li>
                <li>	It is an offence to make unauthorised access to computer material.</li>
                <li>	No smoking, eating or drinking at the computer.</li>
                <li>	A machine which has been exposed to a moist atmosphere should be given time to dry out before being put into use.</li>
            </ol>
                <p>  
                    Cảnh báo được sử dụng để đảm bảo an toàn, ngăn ngừa thiệt hại cho thiết bị và vi phạm an ninh, và đảm bảo không vi phạm pháp luật. Những cảnh báo đơn giản nhất thường là các hướng dẫn cơ bản về việc không nên làm một điều gì đó:
                </p>
                <ol>
                    <li>Don't do X. Ví dụ: "Don't smoke" (Đừng hút thuốc) </li>  
                    <li>Avoid Xing. Ví dụ: "Avoid eating in this area" (Tránh ăn ở khu vực này) </li>  
                    <li>No Xing. Ví dụ: "No swimming" (Không nên bơi)</li>     
                    <li>Never do X. Ví dụ:  "Never walk on the grass" (Không bao giờ đi trên bãi cỏ).</li>    
                </ol>
                
                </th>

                <th>
                <p>Đôi khi cảnh báo được kết hợp với </p>
                <ol type="1">
                <li>Always do Y. Ví dụ: Always wear your seatbelt (Luôn đeo dây an toàn khi lái xe)</li>
                <li>never do X. Ví dụ: never drive without seatbelt (không bao giờ lái xe mà không đeo dây an toàn)</li>
                <li>Do Y rather than doing X. Ví dụ: Do wear your seatbelt rather than driving without it(Hãy đeo dây an toàn khi lái xe thay vì lái xe mà không đeo nó.)

                </li>

                </ol>         

                <p>Các cảnh báo có thể trở nên mạnh hơn bằng cách sử dụng "must/must not" và trong một số trường hợp "should/should not". Ví dụ:

                   </p>
                <ol type="1">
                <li>  "The wire linking a static earthing band to earth must contain a resistor of at least 1 megohm." (Dây kết nối dây đeo nối tiếp với đất phải chứa một trở kháng ít nhất 1 megohm.) - Điều này chỉ ra một yêu cầu bắt buộc để đảm bảo an toàn.</li>
            
                </ol>    
                <p>Nếu có bất kỳ lý do nào để lo ngại rằng cảnh báo có thể không được hiểu, có thể thêm một lý do cho cảnh báo:

                </p>
             <ol type="1">
             <li> "Never remove ICs with a screwdriver. The pins are very fragile." (Không bao giờ tháo IC bằng tua vít. Các chân rất dễ gãy.) - Ở đây, lý do cho cảnh báo được cung cấp để giải thích tại sao không nên sử dụng tua vít để tháo ICs.</li>
         
             </ol>    
                

                </th>          
                </tr>
                </table>
                </div>
        <h3  style="padding-top: 40px; text-align: center;">Viết lại mỗi cảnh báo này theo hướng dẫn. Thêm lý do vào cảnh báo khi bạn cảm thấy thích hợp. </h3>
        <hr>
        <div class="baihoc" style="display: flex; flex-direction: column;">
            <p>1 Don’t give open access to PCs.</p> 
            => Avoid ...
            <p>Câu 2 <img src="/anh/cau2.png"></p>
            => Never ...
            <p>Câu 3 <img src="/anh/cau3.png"></p>
            => ....must not .....
            <p>Câu 4 <img src="/anh/4.png">  </p>
            =>Don't....
            <p>Câu 5 <img src="/anh/5.png">  </p>
            =>Always....
            <p>Câu 6 <img src="/anh/6.png">  </p>
            =>Use
            <p>Câu 7 Never use a computer that has been standing 
                for a long time in a cold environment without waiting until it has reached normal room temperature.</p>
            =>Always...
            <p>Câu 8 Cards must not be removed from their anti-static packing until required.</p>
            =>Never
            <p>
                Câu 9 Use an IC extraction tool; don’t use a screwdriver.
            </p>
            =>...rather than....
            <p>
                Câu 10 Always ensure the power is switched off when working on a computer.
            </p>
             ....must not...
        </div>
        

        <h3 style="padding-top: 40px;">Đọc đoạn văn sau và trả lời câu hỏi:</h3>
            
            <h3 style="text-align: center;">How TCP/IP Links Dissimilar Machines
                </h3>
        <div class="dochieu">  
            <div>
            
        <p>
            At the heart of the Internet Protocol (IP) portion of TCP/IP is a concept called the Internet address. This 32-bit coding system assigns a number to every node on the network. T here are s various types of addresses designed for networks of different sizes, but you can write every address with a series of numbers that identify the major network and the sub-networks to which a node is attached. Besides identifying a node, the address 10 provides a path that gateways can use to route information from one machine to another.
            <br>
            Although data-delivery systems like Ethernet or X.25 bring their packets to any machine electrically attached to the cable, the IP modules 
            must know each other’s Internet addresses if they are to communicate. A machine acting as a gateway connecting different TCP/IP networks will have a different Internet address on each network. Internal look-up tables and software 20 based on another standard - called Resolution Protocol - are used to route the data through a gateway between networks.
            <br>
            Another piece of software works with the IP-layer programs to move information to the right 25 application on the receiving system. This software follows a standard called the User Datagram Protocol (UDP). You can think of the UDP software as creating a data address in the TCP/IP message that states exactly what application the 30 data block is supposed to contact at the address the IP software has described. The UDP software provides the final routing for the data within the receiving system.
            <br>
            The Transmission Control Protocol (TCP) part of 35 TCP/IP comes into operation once the packet is delivered to the correct Internet address and application port. Software packages that follow the TCP standard run on each machine, establish a connection to each other, and manage the 40 communication exchanges. A data-delivery system like Ethernet doesn’t promise to deliver a packet successfully. Neither IP nor UDP knows anything about recovering packets that aren’t successfully delivered, but TCP structures and 45 buffers the data flow, looks for responses and takes action to replace missing data blocks. This concept of data management is called reliable stream service.
            <br>
            After TCP brings the data packet into a so computer, other high-level programs handle it. Some are enshrined in official US government standards, like the Pile Transfer Protocol (FTP) and the Simple Mail Transfer Protocol (SMTP). If you use these standard protocols on different 55 kinds of computers, you will at least have ways of easily transferring files and other kinds of data.
            <br>
            Conceptually, software that supports the 'TCP protocol stands alone. It can work with data received through a serial port, over a packet- 60 switched network, or from a network system like Ethernet. TCP software doesn’t need to use IP or UDP, it doesn’t even have to know they exist. But in practice TCP is an integral part of the TCP/IP picture, and it is most frequently used with those 65 two protocols.
            <br>
        </p>
                    </div>
            
                    <h3 style="padding-top: 40px;">Trả lời câu hỏi:</h3>
                <div>
                    <p>
                        1	What purpose does the Internet address have apart from identifying a node? <br>
                        2	What data-delivery systems are mentioned in the text? <br>
                        3	What do IP modules need to know about each other to communicate ?<br>
                        4	How many Internet addresses does a gateway have?<br>
                        5	What does UDP software do?<br>
                        6	When does the TCP part of TCP/IP come into operation? <br>
                        7	What processes are performed by TCP software to provide reliable stream service?<br>       
                    </p>
                </div>

            </div>
            
                 
            
                        


</body>
</html>