<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Unit4.css">
    <title>Unit 4</title>
</head>
<body>
    <h1>UNIT 4: WEBSITES </h1>
    <hr>
        <div id="trangbaihoc" >
            <div class="tuvung">
                <p>
                    - <strong>Webpages</strong>: Trang web <br>
                    - <strong>Webserver</strong>: Máy chủ web<br>
                    - <strong>A Webmaster</strong>: Người quản trị trang web<br>
                    - <strong>Navigation system</strong>: Hệ thống định vị<br>
                    - <strong>Frames</strong>: Khung<br>
                    - <strong>Scrollbar</strong>: Thanh cuộn<br>
                </p>
                <p>
                    - <strong>ALT text caption</strong>: Mô tả văn bản ALT<br>
                    - <strong>ISP</strong>: Nhà cung cấp dịch vụ Internet<br>
                    - <strong>POP</strong>: Giao thức Thư điện tử<br>
                    - <strong>Newsgroups</strong>: Nhóm tin<br>
                    - <strong>Reliable service</strong>: Dịch vụ đáng tin cậy<br>
                    - <strong>Customer support</strong>: Hỗ trợ khách hàng<br>
                    - <strong>Free webpage</strong>: Trang web miễn phí<br>
                </p>
            </div>
            
        </div>

        <h3  style="padding-top: 40px; text-align: center;">Cho lời khuyên </h3>
        <hr>
        <div>
            <table border="1" cellspacing="0" cellpadding="9">
                <tr>
                    <th width="50%">
                        <p>Bạn có thể sử dụng modal verb: should:</p>
                        <ol>
                            <li>Your navigation system <i>should</i> be based on text links.</li>
        
                        </ol>
                        <p>Bạn có thể sử dụng mệnh lệnh: </p>
                        <ol>
                            <li><i>Avoid </i>frames wherever possible.</li>
                            <li><i>Don't change </i>the location of your navigation elements.</li>
                        </ol>
                        <p>Lưu ý rằng từ "avoid" được theo sau bởi dạng -ing. Ví dụ: </p>
                        <ol>
                            <li>Avoid <i>using </i>frames</li>
                          
                        </ol>
                    </th>
                    <th>


                            <p>"Had better" được sử dụng cho lời khuyên gần giống như một cảnh báo. Nó cho thấy điều không mong muốn sẽ xảy ra nếu lời khuyên không được tuân theo: </p>
                            <ol type="1">
                                <li>5	If you're committed to using frames on your site, you'd better commit yourself to some extra work too.(Nếu bạn quyết tâm sử dụng khung (frames) trên trang web của bạn, bạn nên sẵn sàng đối mặt với một chút công việc thêm vào nữa.)</li>
                            
            
                            </ol>         
                                     
                            <p>Các cách khác để đưa ra lời khuyên là:  </p>
                            <ol type="1">
                                <li>/ recommend Jennifer Fleming's Web Navigation.(Tôi đề xuất việc sử dụng "Web Navigation" của Jennifer Fleming.)</li>
                                <li>It's a good idea to visit a few larger sites.(Nên tốt hơn nếu bạn thăm một vài trang web lớn để có một số ý tưởng.)</li>
                            </ol>        
                            <p>Để làm cho lời khuyên thuyết phục hơn, bạn có thể thêm lý do cho lời khuyên của bạn. Ví dụ: </p>
                            <ol type="1">
                                <li>It's a good idea to visit a few larger sites [advice] to get some ideas on designing an effective site map [reason]. (Nên tốt hơn nếu bạn thăm một vài trang web lớn [lời khuyên] để có một số ý tưởng về cách thiết kế một bản đồ trang web hiệu quả [lý do].)</li>
            
                            </ol>      
                                  
                    </th>          
                </tr>
            </table>
        </div>
    
        
            <h3 style="padding-top: 40px;">Đọc đoạn văn sau và trả lời câu hỏi:</h3>
            
            <h3 style="text-align: center;">XML Takes on HTML
                </h3>
            
                <div class="dochieu">  
<div>

            <p>
                1. Standard Generalized Markup Language (SGML) is the language that spawned both HTML (HyperText Markup Language) and XML (extensible Markup Language). SGML is not a true language, it is a s metalanguage, which is a language from which you can create other languages. In this case, it is the creation of a markup language (a system of encoded instructions for structuring and formatting electronic document elements).
<br>
2. HTML is an application-specific derivation of SGML. It is a set of codes, generally used for webpages, that creates electronic documents according to rules established by SGML. HTML is a language that is all about the presentation of your is information, not what the actual data is. You can, therefore, say that HTML is a presentation language
<br>
3. XML is a subset of SGML, but it is also, like SGML, a metalanguage. XML defines a specific method for 20 creating text formats for data so that files are program independent, platform independent, and support internationalisation (able to read different languages, etc.). In fact, because XML is an extensible language, you don’t even have to have a 25 browser to interpret the page. Applications can parse the XML document and read the information without any human intervention.
<br>
4. XML, unlike HTML, is concerned with the identity, meaning and structure of data. XML is extensible 30 because it lets website developers create their own set of customised tags for documents. This ability to define your own tags is the main feature of XML, and it is what gives developers more flexibility.
<br>
5. By defining your own markup tags, you can 35 explicitly define the content in the document. This makes XML a more intelligent markup language than HTML. For example, in HTML, you could have a paragraph tag <span><</span><span>p</span><span>></span> preceding a paragraph about baseball. Your Web browser sees this tag and 40 knows to present the following text as a paragraph. All your browser knows about the text, however, is that it is text; it doesn’t know that it is specifically about baseball. In an XML document, you could define a <BASEBALL> tag to refer specifically to 45 the text in the paragraph in your document. This way, when your XML browser examines the document, the document knows what data it contains, and that makes the content more 
    intelligent. Search engines that make use of XML so data can do a better job of finding the pages you are looking for because of the intelligent nature of XML content.
    <br>
6. XML, by design, does not deal with how the data is displayed to the end user. Because HTML is a 55 presentation language, XML documents use HTML tags to help handle the visual formatting of the document. Also, you can use XML in your HTML documents to provide metadata, which is data about data in the document.
<br>
7. XML will do to the Web and e-commerce what HTML originally did to the Internet. XML and its associated applications have the potential to blow the roof off the Internet and how we do business.
<br>

            </p>
        </div>

        <h3 style="padding-top: 40px;">Trả lời câu hỏi:</h3>
        <div>
            <p>
                1	What languages were derived from SGML?<br>
2	What type of language is used to structure and format elements of a document?<br>
3	Name two metalanguages.<br>
4	What elements of data is XML (but not HTML) concerned with?<br>
5	What is meant by the term ‘extensible’ ?<br>
6	What makes XML a more intelligent language than HTML?<br>
7	What does the HTML markup tag <span><</span><span>p</span><span>></span> indicate?<br>
8	Why are search engines able to do a better job with XML documents?<br>
9	What type of website is particularly likely to benefit from XML?<br>

            </p>
        </div>

        </div>

        <div>





            
        </div>



</body>
</html>