<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Unit1.css">
    <title>Document</title>
</head>
<body>
    <h1>UNIT 1: COMPUTER USER </h1>
    <hr>
        <div id="trangbaihoc" >
                <div class="tuvung">
                    <p> - <strong> Database:</strong> cơ sở dữ liệu <br>
                        - <strong> Graphical (user) interfaces:</strong> giao diện người dùng, giao diện đồ họa<br>
                        - <strong> Menus:</strong> thực đơn<br>
                        - <strong> Mouse:</strong> chuột<br>
                        - <strong> Clicking:</strong> nhấp<br>
                        - <strong> Keyboard:</strong> bàn phím<br>
                    

                   
                        - <strong> Monitor screen:</strong> màn hình điều khiển<br>
                        - <strong> Personal computers (PCs):</strong> máy tính cá nhân<br>
                        - <strong> PBM (Interbational Business Machines):</strong> phạm vi hoạt động toàn cầu<br>
                    </p>
                    <p>
                        - <strong> Handeld: </strong>cầm tay<br>
                        - <strong> Expansion cards:</strong> thẻ mở rộng<br>
                        - <strong> Expansion slots:</strong> các khe cắm mở rộng<br>
                   
                       
                        - <strong> Smart cards:</strong> những chiếc thẻ thông minh<br>
                        - <strong> Smart devices:</strong> thiết bị thông minh<br>
                        - <strong> Operating system:</strong> hệ điều hành<br>
                        - <strong> Application programs: </strong>chương trình ứng dụng<br>
                        - <strong> Wordproceesors:</strong> bộ vi xử lý<br>
                        - <strong> Spreadsheets:</strong> bảng tính
                        </p>
                </div>
        </div>

        <h2  style="padding-top: 40px; text-align: center;">Ôn tập về thì hiện tại đơn và hiện tại hoàn thành</h2>
        <hr>
        <div>
            <table border="1" cellspacing="0" cellpadding="9">
                <tr>
                    <th width="50%">
                        <p>Chúng ta sử dụng Thì hiện tại hoàn thành để mô tả những hành động trong quá khứ có tương quan đến hiện tại. Ví dụ:</p>
                        <ol>
                            <li>I've scanned in about a third of these photographs.</li>
                            <li>I've organised the paintings into themes.</li>
                            <li>I've added a sound track.</li>
                        </ol>
                    </th>
                    <th>
                            <p>Chúng ta sử dụng Quá khứ đơn để mô tả những hành động đã hoàn thành trong quá khứ. Ví dụ: </p>
                            <ol type="1">
                            <li>I scanned in about a third of these photographs.</li>
                            <li>I organised the paintings into themes.</li>
                            <li>I added a sound track.</li>
                            </ol>              
                    </th>          
                </tr>
            </table>
        </div>
        <div class="baitap">
            <h3 style="text-align: center; padding-top: 40px;">Hãy đặt câu hỏi để phù hợp với câu trả lời. Sử dụng hình thức đúng của Quá khứ đơn hoặc Thì hiện tại hoàn thành, 
                tùy thuộc vào đúng ngữ cảnh. Ví dụ:</h3>
                <hr>
            <p style="font-style: italic;">
                Question: What did you do yesterday? <br>
                Answer:	Worked on the computer.<br>
                </p>
                <div class="cauhoi">
                    <p>

                    1		What...<br>
                        	Worked on a CD of my paintings.<br>
                    2		How many...<br>
                        	About a third.<br>
                    3		What...<br>
                        	I destroyed them.<br>
                    4		How...<br>
                        	1 scanned them in.<br>
                    5		How...<br>
                        	I’ve organised them into themes.<br>
                    </p>
                
                
                   
                    <p>
                    6		Have ...<br>
                        	Yes, I’ve added a sound track.<br>
                    7		How long...<br>
                        	It’s taken me about a week.<br>
                    8		When ...<br>
                        	1 started about ten years ago.<br>
                    9		What...<br>
                        	Before 1 had a computer, 1 had to use slides.<br>
                    10		Have ...<br>
                        	Yes, I’ve sold a few.<br>
                    </p>
            
                   </div>
        </div>
        <div>
            <h3 style="text-align: center;  padding-top: 40px;">Đặt thì ở trong đoạn hội thoại này vào hình thức chính xác: Quá khứ đơn hoặc Thì hiện tại hoàn thành</h3>
            <hr>
            <div class="cauhoi">
                <p>
                    1	A What (do) today?. <span style="font-style: italic;">Vd: What did you do today?</span><br>
                    2	B I (work) on my project. I (search) the Web for sites on<br>
                        digital cameras.<br>
                    3	A (find) any good ones?<br>
                    4	B I (find) several company sites - Sony, Canon,... but I (want)<br>
                        one which (compare) all the models.<br>
                    5	A Which search engine (use)?<br>
                   
                </p>
                <p>
                    6	B Dogpile mostly, (ever use) it?<br>
                    7   A	Yes, I (try) it but I (have) more luck with Ask Jeeves.<br>
                         Why I don’t you try it?<br>
                    8   B   I (have) enough for one night. I (spend) hours on that
                        project.<br>
                    9   A	I (not start) on mine yet.<br>
                    10  B	Yeh? I bet you (do) it all.<br>

                </p>
            </div>
        </div>

        <div class="dochieu">
            <h3 style="padding-top: 40px;">Đọc đoạn văn sau và trả lời câu hỏi:</h3>
            <hr>
            <h3 style="text-align: center;">Computers Make the World Smaller and Smarter</h3>
                
            <p>
                The ability of tiny computing devices to control complex operations has transformed the way many tasks are performed, 
                ranging from scientific research to producing 5 consumer products. Tiny ‘computers on a chip’ are used in medical equipment, home appliances, cars and toys. 
                Workers use handheld computing devices to collect data at a customer site, to generate forms, to control io inventory, and to serve as desktop organisers.<br>
                Not only is computing equipment getting smaller, it is getting more sophisticated. Computers are part of many machines and devices that once required continual human is supervision and control. 
                Today, computers in security systems result in safer environments, computers in cars improve energy efficiency, and computers in phones provide features such as call forwarding, call monitoring, and 20 call answering.<br>
                These smart machines are designed to take over some of the basic tasks previously performed by people; by so doing, they make life a little easier and a little more pleasant.<br>
                These smart machines are designed to take over some of the basic tasks previously performed by people; by so doing, they make life a little easier and a little more pleasant.
                Smart cards store vital information such as health records, drivers’ licenses, bank balances, and so on. Smart phones, cars, and appliances with built in computers can be programmed to better meet individual needs. 
                A smart house has a built-in monitoring system that can turn lights on and off, open and close windows, operate the oven, and more.<br>
                With small computing devices available for 35 performing smart tasks like cooking dinner, programming the DVD recorder, 
                and controlling the flow of information in an organization, people are able to spend more time doing what they often do best - being creative. 
                Computers 40 can help people work more creatively.<br>
                Multimedia systems are known for their educational and entertainment value, which we call ‘edutainment’. Multimedia combines 
                text with sound, video, animation, and « graphics, which greatly enhances the interaction between user and machine and can make information more interesting and appealing to people. Expert systems software enables computers to 'think' like experts, so Medical diagnosis expert systems, for example, can help doctors pinpoint a patient’s illness, suggest further tests, and prescribe appropriate drugs.<br>
                Connectivity enables computers and software 55 that might otherwise be incompatible to communicate and to share resources. Now that computers are proliferating in many areas and networks are available for people to access data and communicate with others, 60 personal computers are becoming<br>
                interpersonal PCs. They have the potential to significantly improve the way we relate to each other. Many people today telecommute - that is, use their computers to stay in touch 65 with the office while they are working at home. With the proper tools, hospital staff can get a diagnosis from a medical expert hundreds or thousands of miles away.
                Similarly, the disabled can communicate more 7o effectively with others using computers.<br>
                Distance learning and videoconferencing are concepts made possible with the use of an electronic classroom or boardroom accessible to people in remote locations. Vast databases 75 of information are currently available to users of the Internet, all of whom can send mail messages to each other. The information superhighway is designed to significantly expand this interactive connectivity so that so people all over the world will have free access to all these resources.<br>
                People power is critical to ensuring that hardware, software, and connectivity are effectively integrated in a socially responsible es way. People - computer users and computer professionals - are the ones who will decide which hardware, software, and networks endure and how great an impact they will have on our lives. Ultimately people power 90 must be exercised to ensure that computers are used not only efficiently but in a socially responsible way.<br>
            </p>
            <h3 style="padding-top: 40px;">Trả lời câu hỏi: </h3>
            <p>
                1	Name some types of devices that use ‘computers on a chip’.<br>
2	What uses of handheld computers are mentioned in the text?<br>
3	What are the benefits of using computers with the following items?<br>
a Security systems <br>
b Cars <br>
c Phones<br>
4	What smart devices are mentioned in the text?<br>
5	What are smart cards used for?<br>
6	What are the advantages of multimedia?<br>
7	What can medical expert systems do?<br>
8	How can computers help the disabled?<br>
9	What types of computing systems are made available to people in remote locations using electronic classrooms or boardrooms?<br>
10	What aspects of computing can people power determine?<br>

            </p>

        </div>
       
        <script>
            const unitLinks = document.querySelectorAll('.Unit');
        
                unitLinks.forEach(unitLink => {
                    unitLink.addEventListener('click', () => {
                        // Loại bỏ lớp "selected" từ tất cả các thẻ "unit-link"
                        unitLinks.forEach(link => {
                            link.classList.remove('selected');
                        });
        
                        // Thêm lớp "selected" vào thẻ "unit-link" được nhấn
                        unitLink.classList.add('selected');
                    });
                });
        
        </script>
</body>
</html>