<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Unit2.css">
    <title>Unit 2</title>
</head>
<body>
    <h1>UNIT 2: NETWORKS </h1>
    <hr>
        <div id="trangbaihoc" >
            <div class="tuvung">
                <p> 
                    - <strong>peripherals:</strong> thiết bị ngoại vi  <br>
                    - <strong>peripherals:</strong>hardware(printers): phần cứng  <br>
                    - <strong>software(programs and data):</strong> phần mềm <br>
                    - <strong>servers:</strong> the main computers that provides services in the network (máy chủ) <br>
                    - <strong>clients:</strong> the computers that use the services (máy khách) <br>
                    - <strong>amplity:</strong> khuếch đại (amplity) <br>
                    - <strong>gateways:</strong> cổng (gateways) <br>
                    - <strong>routers:</strong> bộ định tuyến (routers) <br>
                </p>
                <p>
                    - <strong>route:</strong> đường truyền  <br>
                    - <strong>path:</strong> đường dẫn  <br>
                    - <strong>ISDN ( Integrated Services Digital Network)</strong> <br>
                    - <strong>adapter:</strong> bộ chuyển đổi <br>
                    - <strong>DSL (Digital Subscriber Line)</strong>  <br>
                    - <strong>NIC (Network Interface Card)</strong>  <br>
                    - <strong>twiste-pair cabling:</strong> cáp xoắn đôi  <br>
                    - <strong>asynchronous:</strong> không đồng bộ  <br>
                    - <strong>synchronous:</strong> đồng bộ  <br>
                </p>
            </div>
            
        </div>

        <h3  style="padding-top: 40px; text-align: center;">Mệnh đề quan hệ bằng một phân từ thường được sử dụng trong các mô tả kỹ thuật. 
                                                            Chúng cho phép bạn cung cấp nhiều thông tin về một danh từ bằng cách sử dụng ít từ nhất có thể. </h3>
        <hr>
        <div>
            <table border="1" cellspacing="0" cellpadding="9">
                <tr>
                    <th width="50%">
                        <p>Hãy xem xét các ví dụ sau:</p>
                        <ol>
                            <li> 1	Computers equipped with wireless NICs.</li>
                            <li> 2	A network printer connected to a wireless print server.</li>
                            <li> 3	A modem providing access to the Internet.</li>
                            <li> 4	A fixed LAN linking computers with cables</li>
                        </ol>
                    </th>
                    <th>


                            <p>Chúng ta có thể sử dụng phân từ bị động như trong các ví dụ 1 và 2. </p>
                            <ol type="1">
                                <li>Computers equipped with wireless NICs = computers which are equipped</li>
                                <li>A network printer connected to a wireless print server = a network printer which is connected</li>
            
                            </ol>         
                            
                            <p>Chúng ta có thể sử dụng phân từ bị động như trong các ví dụ 3 và 4. </p>
                            <ol type="1">
                                <li>A modem providing access to the Internet. = modem which provides access to the Internet</li>
                                <li>A fixed LAN linking computers with cables. = A fixed LAN which links computers with cables</li>
                         
                            </ol>            
                    </th>          
                </tr>
            </table>
        </div>
         <div class="baitap" style="padding-left: 18px;">
            <h3 style="text-align: center; padding-top: 40px;">Hoàn thành các định nghĩa sau bằng dạng phân từ đúng của động từ được đưa trong ngoặc.</h3>
                <hr>
            
                <div class="cauhoi">
                    <p>

                        1	A gateway is an interface (enable) dissimilar networks to communicate.<br>
                        2	A bridge is a hardware and software combination (use) to connect the same type of networks.<br>
                        3	A backbone is a network transmission path (handle) major data traffic.<br>
                        4	A router is a special computer (direct) messages when several networks are linked.<br>
                        5	A network is a number of computers and peripherals (link) together.<br>
                        
                    
                        6	A LAN is a network (connect) computers over a small distance such as within a company.<br>
                        7	A server is a powerful computer (store) many programs (share) by all the clients in the network.<br>
                        8	A client is a network computer (use) for accessing a service on a server.<br>
                        9	A thin client is a simple computer (comprise) a processor and memory, display, keyboard, mouse and hard drives only.<br>
                        10	A hub is an electronic device (connect) all the data cabling in a network.<br>
                        
                    </p>
            
                   </div>
        </div>
        
            <h3 style="padding-top: 40px;">Đọc đoạn văn sau và trả lời câu hỏi:</h3>
            
            <h3 style="text-align: center;">Network Communications
                </h3>
            
                <div class="dochieu">  
<div>

            <p>
                1	The application layer is the only part of a communications process that a user sees, and even then, the user doesn’t see most of the work that the application does to prepare a message
      for sending over a network. The layer converts a message’s data from human-readable form into bits and attaches a header identifying the sending and receiving computers.
<br>
2	The presentation layer ensures that the
message is transmitted in a language that the receiving computer can interpret (often ASCII). This layer translates the language, if necessary, and then compresses and perhaps encrypts the data. It adds another header specifying the
  language as well as the compression and encryption schemes.
<br>
3	The session layer opens communications and has the job of keeping straight the communications among all nodes on the network.     it sets boundaries (called bracketing) for the beginning and end of the message, and establishes whether the messages will be sent half-duplex, with each computer taking turns sending and receiving, or full-duplex, with both
computers sending and receiving at the same time. The details of these decisions are placed into a session header.
<br>
4	The transport layer protects the data being sent. It subdivides the data into segments,
creates checksum tests - mathematical sums based on the contents of data - that can be used later to determine if the data was scrambled. It can also make backup copies of the data. The transport header identifies each segment’s
checksum and its position in the message.
<br>
5	The network layer selects a route for the message. It forms data into packets, counts them, and adds a header containing the sequence of packets and the address of the receiving
computer.
<br>
6	The data-link layer supervises the transmission. It confirms the checksum, then addresses and duplicates the packets. This layer keeps a copy of each packet until it receives  confirmation from the next point along the route that the packet has arrived undamaged.
<br>
7   The physical layer encodes the packets into the medium that will carry them - such as an analogue signal, if the message is going across a
telephone line - and sends the packets along that medium.
<br>
8  An intermediate node calculates and verifies the checksum for each packet. It may also reroute the message to avoid congestion on the network.
<br>
9  At the receiving node, the layered process that sent the message on its way is reversed.
The physical layer reconverts the message into bits. The data-link layer recalculates the checksum, confirms arrival, and logs in the 60 packets. The network layer recounts incoming packets for security and billing purposes. The transport layer recalculates the checksum and reassembles the message segments. The session layer holds the parts of the message until the 65 message is complete and sends it to the next layer. The presentation layer expands and decrypts the message. The application layer converts the bits into readable characters, and directs the data to the correct application.
<br>

            </p>
        </div>

        <h3 style="padding-top: 40px;">Trả lời câu hỏi:</h3>
        <div>
            <p>
                1 Into what units is data subdivided by the following layers? <br>
                a transport layer<br>
                b network layer <br>
                2   What is the purpose of a transmission checksum test? <br>
                3	How long does the data-link layer keep a copy of each packet?<br>
                4	What processes can be carried out at intermediate nodes?<br>
                5	Which network communications layer is described by each of the following statements?<br>
                a Makes sure that the message is transmitted in a language that the receiving computer can understand <br>
                b Protects the data being sent <br>
                c Encodes and sends the packets <br>
                d Supervises the transmission <br>
                e The part of a communications process that a user sees<br>
                f Starts communications and looks after communications among network nodes <br>
                g Chooses a route for the message h Makes backup copies of the data if required<br>
                i Confirms the checksum, then addresses and duplicates the packets<br>
            </p>
        </div>

        </div>

        <div>





            
        </div>



</body>
</html>